.line {
  width: 24px;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
}
.open .line1 {
  transform: rotate(45deg) translate(4px, 4px);
}
.open .line2 {
  opacity: 0;
}
.open .line3 {
  transform: rotate(-45deg) translate(4.5px, -4.5px);
}